h1 {
    font-family: "Handlee", cursive;
    /* font-weight: 400; */
    font-style: normal;
  }
  
  h2, ul, span{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
  .flip-horizontal {
    transform: scaleX(-1);
  }
  